{% load staticfiles %}
<html>
<head>
<title></title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
     <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
     <link href="{% static 'homepage/style.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">


</style >

 
</head>
 
<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60" >
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a  href="/News">News</a>
  <a  href="/registerpage">Register</a>
  <a href="/contact ">Contact Us</a>
  <a id= "about" href="/about">About Us</a>
 </div>
 <div style="padding-right: 18px"></div>





</body>
</html>