<!--<html>-->
<!--<head>-->
    <!--{% block title %}Log In-->
<!--<title>Django Store - User Login</title>-->
    <!--{% endblock %}-->
<!--</head>-->
<!--{% block login_active %}active{% endblock %}-->
<!--<body>-->
<!--{% block body %}-->
<!--<div class="container-fluid">-->

    <!--<div class="row">-->
        <!--<div class="col-sm-12 col-md-6">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<h3>Log In</h3>-->
                    <!--{% if error_message %}-->
                        <!--<p><strong>{{ error_message }}</strong></p>-->
                    <!--{% endif %}-->
                    <!--<form class="form-horizontal" role="form" action="{% url 'login1'%}" method="post" enctype="multipart/form-data">-->
                        <!--{% csrf_token %}-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="id_username">-->
                                <!--Username:-->
                            <!--</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input id="id_username" maxlength="30" name="username" type="text">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-sm-2" for="id_password">-->
                                <!--Password:-->
                            <!--</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input id="id_password" maxlength="30" name="password" type="password">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-10">-->
                                <!--<button type="submit" class="btn btn-success">Submit</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--Don't have an account? <a href="{% url 'register1' %}">Click here</a> to register.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--{% endblock %}-->
<!--</body>-->
<!--</html>-->
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'homepage/style.css' %}" rel="stylesheet">
 <link href="{% static 'homepage/styleregister.css' %}" rel="stylesheet">
<style></style>
</head>
<body  id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>

 </div>
 <div style="padding-right: 18px"></div>
<p>RETAILER LOGIN</p>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"> Sign In</label>
        <input id="tab-2" onclick="location.href='/register1';" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"> Sign Up</label>

        <div class="login-form">
              {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
              {% endif %}
        <br>
            <div class="sign-in-htm">

             <form class="form-horizontal" role="form" action="{% url 'login1'%}" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                <div class="group">
                    <label  for="id_username" class="label">Username</label>
                    <input name="username" type="text" class="input">
                </div>

                <div class="group">
                    <label for="id_password" class="label">Password</label>
                    <input  type="password" name="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>


                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div>
                  </form>
            </div>
            <div class="sign-up-htm">
                {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                {% endif %}

            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}


             {% comment %}   {% for field in form %}
                    <div class="group">
                         <div class="col-sm-offset-2 col-sm-10">
                         <span class="text-danger small">{{ field.errors }}</span>
                         </div>
                     <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                         <div class="col-sm-10">{{ field }}</div>
                    </div>
                {% endfor %}

                {% endcomment %}

                <div class="group">
                    <label for="id_username" class="label">Username</label>
                    <input id="id_username" type="text" class="input">
                </div>
                <div class="group">
                    <label for="id_password" class="label">Password</label>
                    <input id="id_password" type="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <label for="email" class="label">Email Address</label>
                    <input id="email" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>

                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>
