<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--{% block title %}-->
    <!--<-->
        <!--<title>Title</title>-->
    <!--{% endblock %}-->
<!--</head>-->

<!--{% block register_active %}active{% endblock %}-->

<!--{% block body %}-->
<!--<div class="container-fluid">-->

    <!--<div class="row">-->
        <!--<div class="col-sm-12 col-md-6">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<h3>Register for an Account</h3>-->
                    <!--{% if error_message %}-->
                        <!--<p><strong>{{ error_message }}</strong></p>-->
                    <!--{% endif %}-->
                    <!--<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">-->
                        <!--{% csrf_token %}-->
                        <!--{% include 'homepage/form_template.html' %}-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-2 col-sm-10">-->
                                <!--<button type="submit" class="btn btn-success">Submit</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--&lt;!&ndash;click to create retailer registration! <a href="{% url 'create_retailer' %}">Click here</a> &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--{% endblock%}-->
<!--</html>-->
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'homepage/style.css' %}" rel="stylesheet">
 <link href="{% static 'homepage/styleregister.css' %}" rel="stylesheet">
<style></style>
</head>
<body  id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="topnav">
  <a class="active" href="{% url 'index' %}">Home</a>

 </div>
 <div style="padding-right: 18px"></div>

<div class="login-wrap">
    <div class="login-html">

        <input id="tab-2"  type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>

        <div class="login-form">


            <div class="sign-up-htm">
                {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                {% endif %}

            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}

                <div class="group">
                    {% for field in form %}
                       <div class="group">
                     <span class="text-danger small">{{ field.errors }}</span>
                    <label class="label">{{ field.label_tag }}</label>
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text" class="input">
                       </div>
                    {% endfor %}
                </div>

                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>

                <div class="hr"></div>
                <div class="foot-lnk">
                    <label class="link">Already Member?<a href="{% url 'login1' %}">SignIn</a> </label>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>
